html, body {
	height:100vh;
	width:100vw;
	margin:0;
	padding:0;
}

body {
	display:grid;
	grid-template-columns: 100%;
	grid-template-rows: 50px auto 25px;
	grid-gap: 1px 1px;
}

ul, li {
	display: inline-grid;
	grid-auto-flow: column;
	align-self: center;
	list-style-type: none;
	margin: 0;
	padding: 8px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.head {
	z-index: 2;
	align-self:start;
}

footer {
	align-self:end;
	background-color: #f2f2f2;
}

main  {
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	transform: translate(0,-20%);
}

#logo {
	margin: 20px;
	text-align: center;
}

#search {
	width: 500px !important;
	height: 40px;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-radius: 20px;
	margin: 5px;
	border-color: lightgray;
	padding-left: 7%;
	padding-right: 7%;
}

#voice {
	float: right;
	transform: translate(60px, -37px);
	height: 24px;

}
#searchicon{
	font-size: larger;
	float: left;
	color: lightgray;
	transform: translate(15px, -59px);
	height: 24px;
}
.buttons {
	display: flex;
	justify-content: center;
	margin: 20px;
}
.btn {
	padding: 10px 15px;	
	background-color:#F1F1F1;
	border-style: none;
	border-radius: 5px;
	color: rgba(0,0,0,0.62);
	color: rgb(48, 48, 48);
	font-weight: 100;
}
#btn-blue {
	background-color:#4285f4;
	color: #FFFFFF;
	width: 65px;
	height: 17px;
	text-align: center;
	font-weight:500;
}
#btn-blue:hover {
	text-decoration: none;
}
#btn-blue:active {
	background-color:#376fcc;
}
.btn:hover {
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.23);
	color: rgba(0,0,0,0.87);
}

a {
	color: rgba(0,0,0,0.87);
	font-family: arial;
	font-size: 13px;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#apps {
	height:24px;
	opacity:0.60;
}
#apps:hover {
	opacity:0.80;
}
.gray{
	color: gray;
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
}
hr{
	border-style:solid;
	height: 0px;
	border-color: rgb(218, 218, 218);

}
#lang{
	font-weight: 100;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bluelink{
	color: rgb(4, 4, 179);
}